doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css") 
        
        
        
         
        //- css
        //- script(src='move.js') 
        //- js
    body
        .header
            img.icon(src="", alt="") 

        .content 
            h5 style guideline

            h1 中文大標題
            h1.small_english english style
            .title_hr
            br

            h2 middium title
            h2.small_english english style

            h3 little title 
            h3.small_english english style

            hr

            h5 VI COLORS

            //- 色票 
            .color_chip
                //- color name
                .color_tag #ffb336
                //- color box
                .color_block.chip_yellow

            //- 色票 
            .color_chip
                //- color name
                .color_tag #27232F
                //- color box
                .color_block.chip_blue 

            //- 色票 
            .color_chip
                //- color name
                .color_tag #f3f7f7
                //- color box
                .color_block.chip_white

            //- 色票 
            .color_chip
                //- color name 
                .color_tag #333333
                //- color box
                .color_block.chip_gray
                
            h5 button example
            
            .button 按鈕範例
            .button.button_blue 按鈕範例
            .button.button_yellow 按鈕範例

